<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="automatic" value="True" />
		<add key="enabled" value="True" />
	</packageRestore>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
		<add key="repositoryPath" value="..\Packages" />
	</solution>
</configuration>
